@page "/admin"

<h1>Dashboard</h1>

<div class="flex-row">
    <div class="d-flex mb-5">
        <h2>Earnings</h2>
        <h2 class="px-4">Appointments Today</h2>
        <h2 class="px-4">Other</h2>
    </div>
</div>

@code {

}
