@page "/admin"

@inject DashboardService DashboardService

<div class="d-flex justify-content-center">
    <h1>Dashboard</h1>
</div>

<br />

<div class="d-flex justify-content-around">

    @if (dashboard != null)
    {
        <DashboardCard RevenueToday="@dashboard.RevenueToday"
                       AppointmentsToday="@dashboard.AppointmentsToday"
                       UpcomingWeek="@dashboard.UpcomingWeek" />
    }
</div>

@code {

    private DashboardDto? dashboard;

    protected override async Task OnInitializedAsync()
    {
        dashboard = await DashboardService.GetDashboard();
    }
}
