@using GoldenBarbers.Client.Services
@using System.Threading.Tasks
@using Shared.DTOs.Admin.Offerings

@inject AdminOfferingsApiService OfferingsApiService
@inject NavigationManager Navigation

@page "/admin/manage-offerings/edit-offering/{Id:guid}"

<h3>Edit Offering Information</h3>
<br />

@if (offering == null)
{
    <p>Sorry, the offering does not exit. Redirecting to the dashboard...</p>
}
else
{
    <EditForm Model="offering" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />

        <div class="admin-form">
            <div class="admin-form-item">
                <label>Name: </label>
                <br />
                <InputText @bind-Value="offering.Name" />
            </div>

            <div class="admin-form-item">
                <label>Description: </label>
                <br />
                <InputTextArea @bind-Value="offering.Description" />
            </div>

            <div class="admin-form-item">
                <label>Icon: </label>
                <br />

                @if (!string.IsNullOrEmpty(offering.Icon))
                {
                    <img src="@offering.Icon" style="max-height: 100px;" />
                    <br />
                }
                <InputFile OnChange="HandleFileSelected" />
                
            </div>

            <div class="admin-form-item">
                <label>Senior Price: </label>
                <br />
                <InputNumber @bind-Value="offering.SeniorPrice" />
            </div>

            <div class="admin-form-item">
                <label>Junior Price: </label>
                <br />
                <InputNumber @bind-Value="offering.JuniorPrice" />
            </div>

            <div class="admin-form-item">
                <label>Trainee Price: </label>
                <br />
                <InputNumber @bind-Value="offering.TraineePrice" />
            </div>

            <br />
            <button class="btn btn-outline-dark" type="submit" disabled=@IsSubmitting>Confirm</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private AdminOfferingDto? offering;

    private IBrowserFile? selectedFile;

    private bool IsSubmitting { get; set; } = false;

    protected override async Task OnParametersSetAsync()
    {
        offering = await OfferingsApiService.GetOfferingById(Id);

        if (offering == null)
        {
            await Task.Delay(1000);
            Navigation.NavigateTo("/admin/manage-offerings", forceLoad: true);
        }
    }

    public async Task HandleValidSubmit()
    {
        IsSubmitting = true;
        if (offering != null)
        {
            var success = await OfferingsApiService.EditOffering(offering.Id, offering, selectedFile);

            if (success)
            {
                Navigation.NavigateTo("admin/manage-offerings");
            }

            IsSubmitting = false;
        }

    }

    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
    }
}
