@using GoldenBarbers.Client.Services;
@using System.Threading.Tasks
@using Shared.DTOs.Admin.Barbers

@inject AdminBarbersApiService BarbersApiService
@inject NavigationManager Navigation

@page "/admin/manage-barbers/edit-barber/{Id:guid}"

<h3>Edit Barber Information</h3>
<br />

@if (barber == null)
{
    <p>Sorry, the barber does not exit. Redirecting to the dashboard...</p>
}
else
{
    <EditForm Model="barber" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />

        <div class="admin-form">
            <div class="admin-form-item">
                <label>Name: </label>
                <br />
                <InputText @bind-Value="barber.Name" />
            </div>

            <div class="admin-form-item">
                <label>Position: </label>
                <br />
                <InputText @bind-Value="barber.PositionName" />
            </div>

            <div class="admin-form-item">
                <label>Salary: </label>
                <br />
                <InputNumber @bind-Value="barber.Salary" />
            </div>

            <div class="admin-form-item">
                <label>Starting date: </label>
                <br />
                <InputDate @bind-Value="barber.StartDate" />
            </div>

            <div class="admin-form-item">
                <label>Phone number: </label>
                <br />
                <InputText @bind-Value="barber.PersonalPhone" />
            </div>

            <div class="admin-form-item">
                <label>Email: </label>
                <br />
                <InputText @bind-Value="barber.PersonalEmail" />
            </div>

            <div class="admin-form-item">
                <label>Address: </label>
                <br />
                <InputText @bind-Value="barber.PersonalAddress" />
            </div>

            <br />
            <button class="btn btn-outline-dark" type="submit" disabled=@IsSubmitting>Confirm</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private AdminBarberDto? barber;

    private bool IsSubmitting { get; set; } = false;

    protected override async Task OnParametersSetAsync()
    {
        barber = await BarbersApiService.GetBarberById(Id);

        if (barber == null)
        {
            await Task.Delay(1000);
            Navigation.NavigateTo("/admin/manage-barbers", forceLoad: true);
        }
    }

    public async Task HandleValidSubmit()
    {
        IsSubmitting = true;
        if (barber != null)
        {
            var success = await BarbersApiService.EditBarberAsync(barber.Id, barber);

            if (success)
            {
                Navigation.NavigateTo("admin/manage-barbers");
            }

            IsSubmitting = false;
        }
        
    }
}
