html, body {
    font-family: Georgia, Garamond, 'Times New Roman', serif;
    padding: 0;
}

a, .btn-link {
    color: #006bb7;
}

#app {
    min-height: 100%;
}

body {
    background-image: linear-gradient(black, #504d4d);
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.custom-loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #aaa;
}

.main-logo {
    height: 145px;
}

.custom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
    overflow: hidden;
}

.custom-nav-item {
    text-decoration: none;
    border-radius: 1px;
    padding: 4px;
}

    .custom-nav-item:hover {
        background-color: white;
        transition: all 0.2s ease;
        color: black;
    }

.custom-nav-link {
    color: white;
}

    .custom-nav-link:hover {
        color: black;
        transition: all 0,2s ease;
    }

.carousel-container {
    display: flex;
    max-width: 800px;
    height: 82vh;
    margin: auto;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.arrows-container {
    display: flex;
    max-width: 25px;
    height: 25px;
    margin: auto;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

    .slide.active {
        display: block;
    }

    .slide img {
        position: relative;
        width: 100%;
        height: 80vh;
        object-fit: fill;
        border-radius: 5px;
        z-index: 0;
    }

.caption-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e8e9d2;
    background-color: rgba(90, 87, 87, 0.7);
    border-radius: 2px;
    padding: 4px;
    z-index: 1;
}


.prev, .next {
    position: relative;
    top: 50%;
    margin: 10rem;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.fade {
    animation: fadeInOut 4s ease-in-out infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.homepage-container-item {
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 2px;
}

    .homepage-container-item-box {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 16px;
        border-radius: 4px;
    }

        .homepage-container-item-box:hover {
            background-color: rgba(0, 0, 0, 0.5);
            transition: ease-in-out 0.3s;
        }

.barber-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.barber-card {
    text-align: center;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 50px;
    min-width: 25rem;
    background-color: rgb(3, 3, 2, 0.8);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .barber-card:hover {
        box-shadow: 4px 8px 8px rgba(200, 200, 200, 0.4);
    }

.barber-card-item {
    padding-bottom: 10px;
    color: white;
}


.barber-card img {
    border: groove 2px black;
}

.barberpage-title-container {
    text-align: center;
}

.barberpage-title-text {
    color: white;
}

.gold-button {
    background: linear-gradient(150deg, #FFD700, #aeb26c);
    color: black;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .gold-button:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    }
