@using GoldenBarbers.Client.Services;
@using System.Threading.Tasks
@using Shared.DTOs;

@page "/our-team"
@inject BarberService BarberService

<div class="barberpage-title-container">
    <p class="barberpage-title-text">
        <strong>
            At Golden Barbers, our team is the heart of everything we do.
            Each member of our staff is dedicated to delivering exceptional service,
            combining skill, creativity, and attention to detail to ensure every client
            leaves looking sharp and feeling confident.
            <br /><br />
            We pride ourselves on maintaining a welcoming, professional environment where quality and
            consistency always come first. Whether you’re visiting for a classic cut, a modern style,
            or expert grooming advice, you’re in capable hands with our talented team.
        </strong>
    </p>
</div>

@if (barbers == null)
{
    <p class="custom-loader">Loading...</p>
}
else
{
    <div class="barber-container">
        @foreach (var b in barbers)
        {
            <BarberCard Portrait="@b.Portrait"
                        Name="@b.Name"
                        PositionName="@b.PositionName"
                        Description="@b.Description" />
        }
    </div>
}

@code {
    private List<BarberDto>? barbers;

    protected override async Task OnInitializedAsync()
    {
        barbers = await BarberService.GetBarbersAsync();
    }
}
