@using GoldenBarbers.Client.Services.Admin;
@using Shared.DTOs.Admin.Offerings;

@inject AdminOfferingApiService OfferingsApiService
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

<tr>
    <td><img style="max-height: 35px; object-fit: contain;" src=@Icon /></td>
    <td>@Name</td>
    <td>@Description</td>
    <td>@SeniorPrice €</td>
    <td>@JuniorPrice €</td>
    <td>@TraineePrice €</td>
    <button class="btn btn-sm btn-outline-danger" @onclick="() => OnDelete.InvokeAsync(Id)">@L["GeneralAdmin_DeleteButton"]</button>
    <button class="btn btn-sm btn-outline-warning" @onclick="() => OnEdit.InvokeAsync(Id)">@L["GeneralAdmin_EditButton"]</button>
</tr>

@code {
    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public string Name { get; set; } = "";

    [Parameter]
    public string Description { get; set; } = "";

    [Parameter]
    public string Icon { get; set; } = "";

    [Parameter]
    public int SeniorPrice { get; set; }

    [Parameter]
    public int JuniorPrice { get; set; }

    [Parameter]
    public int TraineePrice { get; set; }

    [Parameter]
    public EventCallback<Guid> OnDelete { get; set; }

    [Parameter]
    public EventCallback<Guid> OnEdit { get; set; }
}
