@using GoldenBarbers.Client.Services;
@using Shared.DTOs;

@inject BarberService BarberService

    <div class="barber-card">
        <img style="width: 200px" src=@Portrait />
        <h1 class="barber-card-item">@Name</h1>
        <h2 class="barber-card-item">@PositionName</h2>
        <p class="barber-card-item">@Description</p>
    </div>


@code {
    [Parameter]
    public string Portrait { get; set; } = "";
    [Parameter]
    public string Name { get; set; } = "";
    [Parameter]
    public string PositionName { get; set; } = "";
    [Parameter]
    public string Description { get; set; } = "";

}
