@using GoldenBarbers.Client.Services.Public
@using Shared.DTOs.Public
@using System.Globalization

@inject BarberApiService BarberService

<div class="barber-card">
    <img style="width: 200px; max-height: 200px;" src=@Portrait />
    <h1 class="barber-card-item">@Name</h1>
    <h2 class="barber-card-item">@PositionName</h2>

    @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "fi")
    {
        <p class="barber-card-item">@DescriptionFi</p>
    }
    else
    {
        <p class="barber-card-item">@DescriptionEn</p>
    }
</div>


@code {
    [Parameter]
    public string Portrait { get; set; } = "";
    [Parameter]
    public string Name { get; set; } = "";
    [Parameter]
    public string PositionName { get; set; } = "";
    [Parameter]
    public string DescriptionFi { get; set; } = "";
    [Parameter]
    public string DescriptionEn { get; set; } = "";

}
