@using GoldenBarbers.Client.Services.Public;
@using Shared.DTOs.Public;
@using System.Globalization

@inject CarouselApiService CarouselService

<div class="slide fade @(IsActive ? "active" : "")">
    <img src="@Icon" alt="Slide">
    @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "fi")
    {
        <h1 class="caption-text">@NameFi</h1>
    }
    else
    {
        <h1 class="caption-text">@NameEn</h1>
    }
</div>


@code {
    [Parameter]
    public string Icon { get; set; } = "";
    [Parameter]
    public string NameFi { get; set; } = "";
    [Parameter]
    public string NameEn { get; set; } = "";
    [Parameter]
    public bool IsActive { get; set; }
}
