@using GoldenBarbers.Client.Services.Public;
@using Shared.DTOs.Public;

@inject CarouselApiService CarouselService

<div class="slide fade @(IsActive ? "active" : "")">
    <img src="@Icon" alt="Slide">
    <h1 class="caption-text">@Name</h1>
</div>


@code {
    [Parameter]
    public string Icon { get; set; } = "";
    [Parameter]
    public string Name { get; set; } = "";
    [Parameter]
    public bool IsActive { get; set; }
}
