@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

@if (IsVisible)
{
    <div class="dialog-overlay">
        <div class="dialog-box">
            <h4>@Title</h4>
            <p>@Message</p>

            <button class="btn btn-danger" @onclick="Confirm">@L["ConfirmDialog_Confirm"]</button>
            <button class="btn btn-secondary" @onclick="Cancel">@L["ConfirmDialog_Cancel"]</button>
        </div>
    </div>
}

@code {

    private TaskCompletionSource<bool>? _tcs;

    public bool IsVisible { get; set; }

    public string Title { get; set; } = "Confirm";
    public string Message { get; set; } = "";

    public Task<bool> Show(string message, string title = "Confirm")
    {
        Title = title;
        Message = message;

        IsVisible = true;

        _tcs = new TaskCompletionSource<bool>();

        StateHasChanged();
        return _tcs.Task;
    }

    private void Confirm()
    {
        IsVisible = false;
        _tcs?.SetResult(true);
    }

    private void Cancel()
    {
        IsVisible = false;
        _tcs?.SetResult(false);
    }
}
