@using GoldenBarbers.Client.Services.Admin;
@using Shared.DTOs.Admin.Dashboard;

@inject NavigationManager Navigation;

<div class="dashboard-items">
    <button class="custom-dashboard-button btn btn-lg btn-outline-dark m-2">Your Revenue for today: <br /> @RevenueToday €</button>
    <button onclick="@GoToAdminAppointments" class="custom-dashboard-button btn btn-lg btn-outline-dark m-2">Today's Appointments: <br /> @AppointmentsToday</button>
    <button onclick="@GoToAdminAppointments" class="custom-dashboard-button btn btn-lg btn-outline-dark m-2">Appointments for upcoming week: <br /> @UpcomingWeek</button>
</div>

@code {
    [Parameter]
    public int AppointmentsToday { get; set; }
    [Parameter]
    public int UpcomingWeek { get; set; }
    [Parameter]
    public decimal RevenueToday { get; set; }
    [Parameter]
    public int ActiveBarbers { get; set; }

    private void GoToAdminAppointments()
    {
        Navigation.NavigateTo("admin/manage-appointments");
    }
}
