<div class="policy-footer-container">
    <p class="policy-footer-container-item">©Golden Barbers 2026</p>
    <a href="privacy-policy"><p class="policy-footer-container-item">Privacy Policy</p></a>
</div>

@code {

}
