<nav class="custom-nav">

    <a href="">
        <img class="main-logo" src="/images/golden_barbers_logo.png" alt="Golden Barbers Logo" />
    </a>

    <input type="checkbox" id="nav-toggle" class="navbar-toggler" />
    <label for="nav-toggle" class="hamburger">☰</label>

    <div class="nav-links">
        <NavLink class="custom-nav-item" href="" Match="NavLinkMatch.All">
            <span class="custom-nav-link" aria-hidden="true">Home</span>
        </NavLink>
        <NavLink class="custom-nav-item" href="our-team" Match="NavLinkMatch.All">
            <span class="custom-nav-link" aria-hidden="true">Our Team</span>
        </NavLink>
        <NavLink class="custom-nav-item" href="book-appointment" Match="NavLinkMatch.All">
            <span class="custom-nav-link" aria-hidden="true">Book Appointment</span>
        </NavLink>
    </div>
</nav>

@code {

}

